# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
/certifi/
/requests/
/chardet-3.0.4.dist-info/
/idna/
/idna-2.6.dist-info/
/chardet/
/requests-2.18.4.dist-info/
/certifi-2017.11.5.dist-info/
/urllib3-1.22.dist-info/
/urllib3/

*.pyc