# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
/certifi/
/requests/
/chardet-3.0.4.dist-info/
/idna/
/idna-2.6.dist-info/
/chardet/
/requests-2.18.4.dist-info/
/certifi-2017.11.5.dist-info/
/urllib3-1.22.dist-info/
/urllib3/

*.pyc
/aws/s3transfer-0.1.12.dist-info/
/aws/botocore/
/aws/six-1.11.0.dist-info/
/aws/boto3-1.5.6.dist-info/
/aws/futures-3.2.0.dist-info/
/aws/docutils-0.14.dist-info/
/aws/botocore-1.8.20.dist-info/
/aws/python_dateutil-2.6.1.dist-info/
/aws/concurrent/
/aws/jmespath/
/aws/dateutil/
/aws/s3transfer/
/aws/jmespath-0.9.3.dist-info/
/aws/boto3/
/aws/docutils/
/active_directory/node_modules/
/futures-3.2.0.dist-info/
/docutils-0.14.dist-info/
/concurrent/
/jenkins/
/jmespath/
/jmespath-0.9.3.dist-info/
/python_dateutil-2.6.1.dist-info/
/six-1.11.0.dist-info/
/docutils/
/s3transfer/
/dateutil/
/s3transfer-0.1.13.dist-info/
/boto3/
/boto3-1.6.3.dist-info/
/aws/
/botocore-1.9.3.dist-info/
/botocore/
/six.py
